/*==============
SETTINGS
==============*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

/*==============
VARIABLES
==============*/
:root {
  --fontColor: #292929;
  --lightBackground: #e8e8e8;
}

body {
  color: var(--fontColor);
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.half-screen {
  width: 100vw;
  height: 50vh;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline {
  display: inline;
}

/*==============
FONTS
==============*/
.primary-font {
  color: var(--fontColor) !important;
}

/*==============
HEADERS
==============*/
h3 {
  margin-bottom: 15px;
}
.section-header {
  margin-bottom: 20px;
}

.header-no-mg {
  margin: 0 !important;
}

/*==============
LAYOUT
==============*/
.flex {
  display: flex;
  align-items: center;
}

.mb-large {
  margin-bottom: 5rem;
}

.mb-small {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

/*==============
ICONS
==============*/
.inline-icon {
  padding: 10px;
  font-size: 20px;
}

.icon-clickable {
  cursor: pointer;
}

/*==============
SECTIONS
==============*/
section {
  margin-bottom: 4rem;
}

/*==============
HERO SECTION
==============*/
.hero-section {
  background-color: lightgray;
  top: 0;
  left: 0;
}

.hero-content-bundle {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hero-content-bundle-l {
  width: 80%;
}

/*==============
POSTS ABSTRACT
==============*/
.post {
  padding-bottom: 10px;
}

.post p {
  margin: 0;
}

/*==============
LANDING PAGE
==============*/
.carousel-inner {
  width: 100%;
}

#landing-carousel {
  height: 50vh;
  margin-bottom: 3rem;
}

/*==============
SINGLE POST PAGE
==============*/
.single-thumbnail {
  position: relative;
  width: 50%;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
}

/*==============
OTHERS
==============*/
.hidden {
  display: none !important;
}

/*==============
EDIT NAVBAR
==============*/

.edit-section {
  margin-bottom: 20px !important;
}

.navbar-drag-item {
  padding: 10px;
  background-color: var(--lightBackground);
  margin: 5px;
  cursor: move;
}

.navbar-drag-item i {
  margin-right: 5px;
}

.navbar-drag-item-dragging {
  opacity: 0.5;
}
